.underline-custom {
  position: relative;
}

.underline-custom::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4px; 
  background-color: rgb(230, 112, 28); 
}

@media (max-width: 768px) {
  .mobile-reduce-effects {
    filter: none !important;
    box-shadow: none !important;
  }
}
